*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: TT Hoves;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFFFF;
}

.container {
  width: 1170px;
  margin: auto;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 135px;
}
.header_list li {
  padding: 0px 35px 0px 0;
}
.header_list li a {
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  padding: 3px 0px 3px 0px;
}
.header_list li a:hover {
  color: #929292;
}
.header_list li .active {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  color: #BDBDBD;
}

.about {
  margin-top: 100px;
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}
.about .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .images .img_item {
  max-height: 345px;
  margin: 60px 0px 30px 30px;
}
.about .images_group {
  margin: 30px 0px 0px 100px;
}
.about .images_group .item2 {
  position: relative;
  top: 30px;
}
.about .description {
  margin: 30px 70px 30px 30px;
}
.about .description .h2 {
  margin-bottom: 20px;
}
.about .description p {
  margin-bottom: 50px;
  color: #000000;
  font-size: 16px;
  line-height: 25px;
}
.about .description a {
  padding: 30px 85px 30px 65px;
  background: #FFFFFF;
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #333333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.about .description a:hover {
  background: #ffffffaf;
}

.block {
  width: 100%;
}
.block .h2 {
  margin-bottom: 60px;
}
.block_items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.block_items .first {
  width: 413px;
}
.block .second {
  width: 570px;
}
.block .second .description {
  width: 420px;
}
.block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block_item span {
  padding-right: 30px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  color: #F2F2F2;
}
.block_item .description {
  font-family: TT Hoves;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  padding: 0;
}

.block_img {
  margin: 186px 0px;
}
.block_img .h2 {
  margin-bottom: 60px;
}
.block_img a {
  background-color: #333333;
  float: right;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  padding: 24px 40px;
  -webkit-transition: ease 0.2s all;
  transition: ease 0.2s all;
}
.block_img a:hover {
  background-color: #494949;
}
.block_img .fa-long-arrow-alt-right:before {
  padding-left: 15px;
}

.block_img_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block_img_items img {
  height: 255px;
}
.block_img_items .block_img_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.block_img_items .block_img_item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block_img_items .block_img_item div .descrip {
  position: absolute;
  z-index: 1;
}
.block_img_items .block_img_item div .descrip h3 {
  width: 413px;
  font-size: 64px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 14px;
}
.block_img_items .block_img_item div .descrip a {
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: #33333300;
  padding: 0;
}
.block_img_items .block_img_item div .descrip a:hover {
  color: #dbdbdb;
}
.block_img_items .block_img_item div .descrip a:hover #all_pr_arr {
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
}
.block_img_items .block_img_item div img {
  -webkit-filter: brightness(0.45);
          filter: brightness(0.45);
}

.contact .h2 {
  margin-bottom: 22px;
}
.contact .check {
  padding-bottom: 45px;
  width: 35%;
}
.contact .check input {
  margin-right: 20px;
  float: left;
  height: 20px;
}
.contact button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #333333;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  padding: 24px 40px;
  -webkit-transition: ease 0.2s all;
  transition: ease 0.2s all;
}
.contact button:hover {
  background-color: #494949;
}
.contact button i {
  margin-left: 15px;
}
.contact_form {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact_form img {
  max-height: 369px;
  margin-left: 30px;
}
.contact_form form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact_form form textarea {
  background-color: #F3F3F3;
  height: 125px;
  margin-bottom: 22px;
  resize: none;
  padding: 15px 0px 15px 20px;
}
.contact_form form input {
  margin-bottom: 15px;
  background-color: #F3F3F3;
  padding: 15px 0px 15px 20px;
}
.contact_form form span {
  font-size: 14px;
  color: #333333;
  margin-bottom: 22px;
}
.contact_form form span input {
  margin-right: 15px;
  float: left;
  height: 35px;
}

footer {
  width: 100%;
  background-color: #2C2C2C;
  margin-top: 150px;
}
footer .footer {
  padding-top: 58px;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container p {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
footer .container .copy {
  margin: auto;
  padding: 24px 0px;
  color: rgba(200, 200, 200, 0.5);
  font-size: 12px;
}
footer .foot_menu .foot_list li {
  margin-bottom: 16px;
}
footer .foot_menu .foot_list li a {
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
footer .foot_menu .foot_list li a:hover {
  color: #cacaca;
}
footer .contact {
  margin-bottom: 60px;
}
footer .contact ul li {
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 35px;
  max-width: 314px;
}
footer .contact ul li i {
  margin-right: 14px;
  height: 20px;
  float: left;
}
footer .social_icons a {
  color: #FFFFFF;
  margin-right: 40px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
footer .social_icons a:hover {
  color: #cacaca;
}
footer .hr {
  width: 100%;
  height: 1px;
  background-color: #494949;
}

.slider {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider_h .pr {
  font-size: 64px;
  color: #BDBDBD;
  font-weight: 300;
}
.slider_h .home {
  font-size: 64px;
  color: #333333;
  font-weight: bold;
}

.swiper {
  margin: 0;
}

.mySwiper {
  width: 60%;
  max-height: 650px;
}

.swiper-slide a {
  font-size: 12px;
  letter-spacing: 0.2em;
  color: #333333;
  padding: 30px 30px 30px 50px;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 577px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.swiper-slide a:hover {
  background-color: #ffffffee;
}

.aaa {
  color: #333333;
}
.aaa:after {
  content: "";
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: auto;
  left: auto;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: auto;
  left: auto;
}

.swiper-button-next, .swiper-button-prev {
  position: static;
}

.arr {
  margin-left: 15px;
}

#arr {
  margin-left: 15px;
}

#all_pr_arr {
  height: auto;
  margin-left: 15px;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.aaa {
  background: #F9F9F9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 22px;
}

.slider_arr_l {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider_arr {
  padding: 26px 18px;
}

.swiper-pagination {
  position: static;
  color: #BDBDBD;
  font-size: 24px;
  letter-spacing: 15px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 110px;
  margin-bottom: 80px;
}

.arr_hr {
  position: relative;
  top: 475px;
  left: 130px;
  width: 50%;
  height: 2px;
  z-index: -1;
  background-color: #F2F2F2;
}